{{- if eq .Values.role "Agent" }}
{{- if .Values.sinks.opensearch.endpoints }}
apiVersion: v1
kind: Secret
metadata:
  name: vector-sinks
  namespace: {{ include "vector.namespaceOverride" . }}
stringData:
  opensearch: |
    {{- toYaml .Values.sinks.opensearch | nindent 4 }}
type: Opaque
{{- end }}
{{- end }}